body {
	font-family: 'roboto';
	overflow-x: hidden !important;
}

html {
	max-width: 1500px;
	margin: 0 auto;
	scroll-behavior: smooth;

  	overflow-x: hidden !important;
}

.home-page {
	background: url(https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) !important;
	height: 92vh !important;
	max-height: 900px;
	background-repeat: no-repeat;
	background-size: cover !important;
}

#skills-page {
	height: auto !important;
	padding-top: 25px;
  min-height:500px;
	background-repeat: no-repeat;
	background-size: cover !important;

}
#projects-page
{
	padding-top:60px;
    	background: radial-gradient(ellipse farthest-corner at center top, #1ccea6,#2f61e2);
      height:auto !important;
        min-height:90vh;
}

.skills_page-photo {
	width: 100px !important;
	height: 100px !important;
}

.container-fluid {
	width: 100%;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.navbar {
	z-index: 2 !important;
  position:fixed !important;
	width:100% !important;
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%) !important;
}

h1 {
	font-size: 4em;
	color: white;
	text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 2em;
		color: white;
		text-transform: uppercase;
	}
}

span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
}

@keyframes caret {
	50% {
		border-color: transparent;
	}
}

.home-page__header {
	left: 0;
	right: 0;
	margin: 0 auto;
	width: auto;
	margin-top: 200px;
	padding: 15px;
}

@media only screen and (max-width: 800px) {
	.home-page__header {
		margin: 0 auto;
		width: 70%;
		margin-top: 84px;
		padding: 15px;
	}
}

.col-lg-12 {
	padding: 0 !important;
}

@media only screen and (max-width: 1000px) {
	.col-lg-5 {
		margin: 0 auto !important;
		text-align: center !important;
		padding-left: 25px;
		padding-right: 25px;
	}
}

.arrow {
	position: relative;
	bottom: -2rem;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	/**
   * Dark Arrow Down
   */
	background-image: url(https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png);
	background-size: contain;
}

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.ico {
	width: 30px;
	height: 30px;
	margin: 5px;
}
.footer
{
  width:100%;

  color:white;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:20px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
.card
{
  width:90%;
  margin:0 auto;
}
.img-project
{
  width:100%;
  height:200px;
}
